* {
    margin: 0;
    padding: 0;
}

*::selection {
    background: black;
}

@font-face {
    font-family: "Hermes";
    src: url("fonts/Hermes.eot"); /* IE9 Compat Modes */
    src: url("fonts/Hermes.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("fonts/Hermes.otf") format("opentype"), /* Open Type Font */ url("fonts/Hermes.svg") format("svg"), /* Legacy iOS */ url("fonts/Hermes.ttf") format("truetype"), /* Safari, Android, iOS */ url("fonts/Hermes.woff") format("woff"), /* Modern Browsers */ url("fonts/Hermes.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.base-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*Header*/
.nav-bar{
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 4px !important;
    width: 80% !important;
    margin: auto !important;
    display: flex !important;
}

.nav-bar-center{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar-brand{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    margin: 0 auto !important;
    padding: 0 !important;
}

.nav-brand-logo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}

.nav-bar-side{
    width: 32%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
}

.nav-bar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
}

.nav-bar-info{
    display: flex;
    flex-direction: row;
}

.nav-bar-info time {
    color: #fff;
    font-size: 14px;
    margin: auto 10px auto 5px;
}

.nav-bar-info a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: auto 10px auto 5px;
    transition: 0.2s linear;
}

.nav-bar-info a:hover {
    color: rgb(240, 0, 0);
    text-decoration: none;
    margin: auto 10px auto 5px;
}

.nav-bar-info span {
    color: rgb(240, 0, 0);
}

.navbar-collapse{
    flex-grow: unset;
    align-items: normal!important;
}



.nav-bar-mobile-cart{
    display: none;
}

.nav-col {
    display: block;
    width: 40%;
}

.nav-col-center {
    display: flex;
    width: 20%;
}

.nav-dropdown-basket span{
    font-weight: 600;
    font-family: 'Segoe UI', arial;
    font-size: 14px;
}

.topbar-row-left {
    min-height: 20%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    color: #fff;
}

.topbar-row-right {
    min-height: 20%;
    width: 90%;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    color: #fff;
}

.topbar-info {
    display: flex;
}

.topbar-info a:hover {
    color: rgb(240, 0, 0);
    text-decoration: none;
    margin: auto 10px auto 5px;
}

.topbar-info span {
    color: rgb(240, 0, 0);
}

.circle-icon {
    text-decoration: none;
    color: #fff;
    background-color: rgb(240,0,0);
    border-radius: 50%;
    padding: 9px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
}

.circle-icon:hover {
    transform: scale(1.1);
    transition: .2s linear;
}

.nav-icon-inst {
    text-decoration: none;
    color: #fff;
    background-color: rgb(240, 0, 0);
    border-radius: 50%;
    font-size: 10px ;
    padding: 10px 13px;
    text-align: center;
    line-height: 0px;
    vertical-align: middle;
    margin-right: 10px;
    transition: .2s linear;
}

.nav-icon-inst:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: #fff;
}


.nav-dropdown-basket {
    background-color: rgb(240, 0, 0) !important;
    padding: 4px 20px 4px 20px !important;
    border-radius: 15px !important;
    color: #fff;
}

.nav-dropdown-menu {
    margin-top: 10px !important;
    background-color: rgb(24, 24, 24) !important;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.nav-dropdown-header {
    display: flex !important;
    justify-content: space-between;
    padding: 4px 12px 4px 12px !important;
    border-bottom: 2px solid #000 !important;
}

.nav-dropdown-header p {
    color: #738694;
    font-family: "Hermes", arial;
    font-size: 14px;
    height: 8px !important;
}

.nav-dropdown-item {
    border-bottom: 2px solid #000 !important;
    padding: 12px 12px 12px 12px !important;
    margin: 10px 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
    transition: 0.2s linear;
}

.nav-dropdown-item:hover {
    transform: scale(1.05);
    transition: 0.2s linear;
    background-color: rgb(24, 24, 24) !important;

}

.nav-icon-right:hover {
    transform: scale(1.05);
    text-decoration: none;
    color: #fff;
}

.active{
    color: red !important;
}

.page-title{
    font-size: 45px;
    color: red;
    text-align: center;
    width: 40%;
    padding-bottom: 20px;
    margin: 0 auto;
}


.mainbar-row-left, .mainbar-row-right {
    width: 90%;
    display: flex;
}

.mainbar-row-right {
    margin-left: auto;
}

.collapse-left {
    padding: 10% 0;
    display: flex;
}

.collapse-right {
    padding: 10% 0;
    display: flex;
    justify-content: flex-end;
}

.nav-left {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.nav-right {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.div-basket-md {
    display: none;
}

.div-basket-responsive {
    background-color: rgb(240, 0, 0);
    display: none;
}

.header-nav-link {
    text-decoration: none;
    color: #fff !important;
    font-family: 'Hermes', arial;
    font-size: calc(12px + 1.1vw);
    -webkit-text-stroke: 1px #000;

}


.header-nav-link:hover {
    text-decoration: none;
    color: rgb(240, 0, 0) !important;
}

.div-cart {
    cursor: pointer;
    display: flex;
}


.div-phone p {
    font-weight: 600;
    font-size: 14px;
    margin: auto;
    margin-left: 7px;
    margin-right: 7px;
}


.div-cart span {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.navbar-hamburger {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/*Intro*/
.container-intro {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 10px 0;
}

.intro-text {
    width: 50%;
}

.intro-text h3 {
    padding: 10% 0;
    color: #fff;
    font-weight: 900;
    font-size: 5vw;
    -webkit-text-stroke: 2px #000;
}

.intro-text span {
    color: red;
   
}

.intro-image {
    display: flex;
    margin: auto;
    width: 50%;

}

.carousel{
    background-color: rgba(83, 83, 83, 0.05);
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
}

.bro-img {
    width: 100%;
    height: auto;

}

/*Food*/

.toggles {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 50px;
}

.btn-toggle{
    outline: none;
    font-family: "Hermes";
    display: inline;
    margin: 0 auto;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 35px;
    transition: 0.2s linear;
    text-decoration: none;

}

.btn-toggle:focus {
    outline: none;
}

.btn-toggle:after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: red;
    transition: linear .2s;
}



.btn-toggle:hover {
    color: red;
    transition: 0.2s linear;
    text-decoration: none;

}

.btn-toggle:hover:after {
    width: 100%;
    transition: linear .2s;
}

.active{
    color: red;
}




.food-category {
    padding-top: 50px;
}

.food-card {
    width: 30%;
    background-color: rgba(83, 83, 83, 0.05);
    border: 2px solid black;
    border-radius: 3px;
    margin: 20px 5px 10px 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: linear 0.2s;
}

.food-card:hover {
    transform: scale(1.05);
    transition: linear 0.2s;
    border: 2px solid red;
    background-color: rgba(0, 0, 0, 0);
}

.product-img-div {
    width: 100%;
}

.toggler-bar {
    color: #fff;
}

.product-img {
    display: none;
    margin: 0 auto;
    width: 100%;
    transition: linear 0.2s;
}

.food-card-body {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px 20px;

}

.food-card-body h3{
    font-size: 2vw;
}

.radio-buttons {
    display: block;
}

.food-card-body span {
    color: red;
}

.btn-radio span {
    color: #fff;
    margin: 0 5px auto 5px;
    font-size: 1.2vw;
}


label > input[type="radio"] {
    display: none;
}

label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: -3px;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    padding-top: 10px;
}

label > input[type="radio"]:checked + *::before {
    background: radial-gradient(red 0%, red 40%, transparent 50%, transparent);
    border-color: red;
}

label > input[type="radio"]:checked + * {
    color: red;
}

input[type=radio]:checked ~ span {
    color: red;
}

.food-card-body h3 {
    color: #fff;
    font-family: "Hermes", arial;
    margin-bottom: 0;
}


.food-card-body p {
    color: #738694;
    font-family: "Hermes", arial;
    margin-bottom: 0;
    font-size: 1.05vw;
}

.food-card-body strong {
    color: red;
    font-family: "Hermes", arial;
    margin-bottom: 0;
    font-size: 24px;
}

.food-card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    vertical-align:bottom; /* вот она */
}

.food-counter{
    margin: auto 0;
}

.btn-number{
    background-color: rgba(0,0,0,0);
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    border-right: none !important;
    border-left: none !important;
    color: #fff;
    width: 40px;
    text-align: center;
}

.btn-number:focus{
    outline: none;
}

.btn-wanted{
    font-family: "Hermes", arial;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
    margin: auto 0;
    border-radius: 50%;
    border: 2px solid red;
    transition: 0.2s linear;
    padding: 4px 8px;
}

.btn-wanted:hover {
    cursor: pointer;
    color: #fff;
    background-color: #A60000;
    margin: auto 0;
    border-radius: 50%;
    border: 2px solid red;
    transition: 0.2s linear;
    padding: 4px 8px;
    transform: scale(1.15);
}

.btn-wanted:focus{
    outline: none;
}

.btn-wanted:active{
    background-color: red;
}

.btn-minus {
    width: 30px;
    background-color: rgba(0,0,0,0);
    border-radius: 15px 0 0 15px;
    outline: none !important;
    border: 2px solid red !important;
    color: red;

}

.btn-minus:active{
    background-color: red;
    transition: 0.1s linear;
}

.btn-plus {
    width: 30px !important;
    background-color: rgba(0,0,0,0);
    border-radius: 0 15px 15px 0 !important;
    outline: none !important;
    border: 2px solid red !important;
    color: red;
    transition: 0.1s linear;

}

.btn-plus:active{
    background-color: red;
    transition: 0.1s linear;
}

.menu {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.menu-items {
    display: flex;
    justify-content: space-around;
}

.line {
    width: 80%;
    margin: 0 auto;
    height: 2px;
    background-color: red;
}

/*Reviews*/

.reviewList {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 60px;
}

.cards-row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0 !important;
}

.reviews-text h4 {
    padding-right: 40px;
    font-size: 50px;
    color: #fff;
}

.reviews-text span {
    color: rgb(240, 0, 0) !important;
}

.reviews-text p {
    color: #738694;
    font-size: 14px;
    font-weight: 900;
    margin-top: 5px;
    padding-bottom: 15px;
}

.reviews-btn{
    display: flex;
    line-height: 100%;
    justify-content: space-between;
}

.btn-all-reviews{
        color: #fff;
    background-color: red;
    border-radius: 2px;
    margin-top: 16.8px;
    margin-bottom: 16.8px;
    padding: 5px 29px 5px 29px;
    transition: 0.2s linear;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid red;
    text-align: center;

}


.btn-all-reviews:hover {
    transform: scale(1.05);
    transition: 0.2s linear;
    background-color: rgba(0,0,0,0);
    border: 2px solid red;
    text-decoration: none;
    color: red;
}

.review-card {
    background-color: rgba(83, 83, 83, 0.05);
    width: 31%;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.review-card-body {
    display: flex;
}

.review-rounded-bg {
    background-color: rgb(240, 0, 0);
    width: 29px;
    border-radius: 50%;
    margin-right: 15px;
}

.review-rounded-bg p {
    color: #000;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}

.review-stars {
    margin-left: auto;
    margin-bottom: auto;
}

.review-author-name {
    padding-left: 0;
}

.review-author-name p {
    color: #fff;
    font-size: 1.1vw;
    font-weight: 900;
    margin: 0;
}

.date p {
    font-weight: 900;
    font-size: 0.8vw;
    color: #738694;
}


.review-text {
    color: #fff;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
}


#star {
    fill: #F2B824;
}

.review-intro-container{
    width: 80%;
    display: flex;
    margin: auto;
}
.review-intro-container span{
    width: 30%;

}


.review-intro-container h2{
    margin: 0;
}

.review-intro-container *:last-child{
    margin-left: auto;
}

.btn-red{
    color: #fff;
    background-color: red;
    border: 2px solid red;
    border-radius: 2px;
    padding: 0px 30px;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s linear;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: auto 0;
}


.btn-red:hover {
    transform: scale(1.05);
    transition: 0.2s linear;
    background-color: rgba(0,0,0,0);
    border: 2px solid red;
    text-decoration: none;
    color: red;
}


.review-page-rows {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.review-pagination{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-bottom: 30px;
}

.review-btn {
    width: 140px;
    background-color: rgba(0,0,0,0);
    outline: none !important;
    border: 2px solid red !important;
    color: red;
    transition: 0.2s linear;
}

.review-btn:hover{
    transition: 0.2s linear;
    background-color: red;
    text-decoration: none;
    color: #fff;
}

.review-btn:active{
    background-color: red;
    transition: 0.1s linear;
}

.review-btn:disabled{
    color: #7f1b15;
    background-color: rgba(0,0,0,0);

}

.first {
    width: 40px;
    background-color: rgba(0,0,0,0);
    border-radius: 15px 0 0 15px;
    outline: none !important;
    border-right: 0px solid red !important;
    border-bottom: 2px solid red !important;
    border-left: 2px solid red !important;
    border-top: 2px solid red !important;
    color: red;

}

.last {
    width: 40px !important;
    background-color: rgba(0,0,0,0);
    border-radius: 0 15px 15px 0 !important;
    outline: none !important;
    border-right: 2px solid red !important;
    border-bottom: 2px solid red !important;
    border-left: 0px solid red !important;
    border-top: 2px solid red !important;
    color: red;
    transition: 0.1s linear;
}


/*Basket*/

.basket-product-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid #000 !important;
    padding: 12px 12px 12px 12px !important;
    margin: 10px 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
    transition: 0.2s linear;
}

.basket-product-card:hover{
    transform: scale(1.05);
    transition: 0.2s linear;
    background-color: rgb(24, 24, 24) !important;
}

.basket-product-card img {
    width: 45px;
}


.basket-product-name {
    display: block;
    margin: auto 20px;
    text-align: center;
    width: 20%;
}

.basket-product-price {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin: auto;
    text-align: center;
}

.basket-product-price p{
    width: 55px;
}

.basket-product-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.basket-product-remove {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin: auto;
    text-align: center;
}

.basket-product-card p {
    margin-bottom: 0;
    padding-bottom: 7px;
}

.basket-product-name span {
    color: red;
    display: block;
    text-align: center;
}

.basket-product-name p{
}

.basket-product-card p {
    color: #fff;
}

.basket-product-image{
    margin: auto;
}

.btn-cancel{
    background-color: red;
    outline: none;
    border: none;
    padding: 0px 7px;
    border-radius: 50%;
    font-weight: 700;
}

.basket-product-price {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin: auto;
}

.empty-basket{
    display: flex;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.empty-basket p{
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 20px 80px;
}

.nav-order-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-order{
    display: flex;
    margin: auto;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    background-color: rgba(240, 0, 0, 0);
    border: 2px solid red;
    border-radius: 2px;
    padding: 6px 0px;
    text-align: center;
    transition: 0.2s r;
}

.btn-order:hover{
    text-decoration: none;
    outline: none;
    color: #fff;
}

/*CartPage page*/

.order-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.order-row{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}

.order-row button{
    display: block;
    margin: 20px auto;
}

.order-col{
    display: block;
}

.btn-finish-order{
    margin: 0 auto;
}

/*End ordering page*/


/*Review form page*/

.review-form-container{
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.review-form-container p{
     color: #fff;
     margin: 0px 0px 5px 0px;
 }

.review-form-container span{
    color: red;
}

.review-form-border{
    width: 50%;
    background-color: rgba(83, 83, 83, 0.05);
    border: 2px solid black;
    border-radius: 3px;
    margin: 20px 5px 10px 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: linear 0.2s;
    margin: 0 auto;
    padding: 20px;
}

.review-form-input-container{
    display: flex;
    justify-content: space-between;
}

.review-form-input{
    background-color: #1b1e21;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    transition: 0.2s linear;

}

.review-form-input:focus{
    border: 2px solid red;
    transform: scale(1.02);
    transition: 0.2s linear;
}

.review-form-text{
    width: 100%;
    margin-top: 15px;
}

.review-form-text textarea{
    width: 100%;
    height: 140px;
    resize: none;
}

.review-form-input:focus{
    outline: none;
}

.star-rating{
    margin-right: 8px;
}

input[type="radio"]:hover + .checkbox-image {
    fill:#F2B824;
}

input[type="radio"]:checked + .checkbox-image {
    fill:#F2B824;
}

.checkbox-input{
    display: none;
}

.review-btn-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review-btn-container a{
}

.review-btn-send{
    color: #fff;
    background-color: red;
    border: 2px solid red;
    border-radius: 2px;
    margin-top: 16.8px;
    margin-bottom: 16.8px;
    padding: 6px 30px 6px 30px;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s linear;
    text-decoration: none;
}

.review-btn-send a{
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}

.review-btn-send:hover a{
    color: red;
    text-decoration: none;
    transition: 0.2s linear;
}

.review-btn-send:hover {
    transform: scale(1.05);
    transition: 0.2s linear;
    background-color: rgba(0,0,0,0);
    border: 2px solid red;
    text-decoration: none;
    color: red;
}
/*End review form page*/


.progress-circle{
    width: 80px;
    height: 80px;
    background-color: inherit;
    border: 4px solid #b3b3b3;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.progress-circle-active{
    background-color: red;
}

.progress-line{
    width: 15%;
    height: 10px;
    background-color: #b3b3b3;
    margin: auto 4px;
    border: 2px solid #b3b3b3;
}

.progress-line-active{
    background-color: red;
}


.ordering-progress-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.nav-dropdown-thead-left{
    display: flex;
    width: 51%;
    justify-content: space-between;
}

.nav-dropdown-thead-right{
    display: flex;
    width: 34%;
    justify-content: space-between;
}

/*Checkout*/

.checkout-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data-form{
    width: 50%;
}

.check{
    width: 35%;
    border: 2px solid red;
    border-radius: 15px;
}

.order-form-input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.order-form-border{
    width: 100%;
    background-color: rgba(83, 83, 83, 0.05);
    border: 2px solid black;
    border-radius: 3px;
    margin: 20px 5px 10px 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: linear 0.2s;
    margin: 0 auto;
    padding: 20px;

}

.order-form-border p{
    color: #fff;
    margin: 0px 0px 5px 0px;
}

.order-btn-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*End checkout*/

@media (max-width: 1199px) {
    .nav-bar {
        width: 90% !important;
    }
    .container-intro{
        width: 90%;
    }

    .nav-bar-center{
        width: 30%;
    }

    .nav-bar-brand{
        width: 50%;
    }
    .toggles {
        width: 100%;
    }
    .menu {
        width: 90%;
    }

    .line{
        width: 90%;
    }

    .reviewList{
        width: 90%;
    }

    .nav-bar-side{
        height: 90px;
    }

    .topbar-info time {
        font-size: 12px;
        margin: auto 10px;
    }

    .topbar-info a {
        font-size: 12px;
    }

    .circle-icon {
        padding: 7px;
    }

    .nav-icon-inst {
        padding: 7px 8px;
    }

    .nav-dropdown-basket {
        padding: 1px 15px !important;
    }

    .nav-dropdown-basket span {
        margin: auto;
        font-size: 12px !important;
    }

    .review-author-name p {
        color: #fff;
        font-size: 1.3vw;
        font-weight: 900;
        margin: 0;
    }

    .date p {
        font-weight: 900;
        font-size: 1vw;
        color: #738694;
    }

    .review-intro-container{
        width: 90%;
    }
}


@media (max-width: 991px) {
    .btn-all-reviews{
    }
    .nav-bar {
        width: 90% !important;
    }

    .nav-bar-info time {
        font-size: 11px;
    }

    .nav-bar-info a {
        font-size: 11px;
    }

    .review-card{
        width: 40%;
    }

    .circle-icon {
        padding: 5px;
    }

    .nav-icon-inst {
        padding: 5px 6px;
    }

    .nav-dropdown-basket {
        padding: 1px 15px !important;
    }

    .nav-icon-basket span {
        font-size: 12px;
    }

    .review-author-name p {
        color: #fff;
        font-size: 1.4vw;
        font-weight: 900;
        margin: 0;
    }

    .date p {
        font-weight: 900;
        font-size: 1.2vw;
        color: #738694;
    }

    .reviews-btn h4{
        font-size: 40px;
    }

}


@media (max-width: 767px) {
    .nav-bar {
        width: 95%!important;
        margin: 0 auto !important;
        display: block;
    }
    .nav-bar-links{
        display: flex;
        flex-direction: column;
    }

    .nav-bar-center{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px auto;
    }

    .nav-bar-brand{
        width: 15%;
    }

    .nav-bar-mobile-cart{
        margin: auto 0;
    }

    .nav-bar-side{
        height: auto;
    }

    .nav-bar-mobile-cart{
        display: flex;
    }

    .responsive-span{
        display: none;
    }

    .nav-col-center {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav-dropdown-basket {
        padding: 2px 5px !important;
    }

    .nav-dropdown-basket span{
        margin: auto;
    }

    .mainbar-row-right {
        margin-left: 0;
    }

    .nav-bar-info{
        display: none;
    }

    .right{
        display: none;
    }


    .collapse-right {
        padding: 10% 0;
        display: flex;
        justify-content: flex-start;
    }

    .div-toggle-responsive {
        margin: auto 0;
        width: 10%;
    }

    .header-nav-link {
        font-size: 20px;
    }

    .div-basket-md {
        display: flex;
        margin: auto 0;
        color: #fff;
        width: 10%;
    }

    .bro-logo {
        width: 100px;
        height: auto;
    }

    .topbar-row-left, .topbar-row-right {
        display: none;
    }

    .div-nav-adaptive {
        display: flex;
        margin: auto;
        color: #fff;
        cursor: pointer;
    }

    .review-card{
        width: 47%;
    }

    .review-author-name p {
        color: #fff;
        font-size: 2.3vw;
        font-weight: 900;
        margin: 0;
    }

    .date p {
        font-weight: 900;
        font-size: 1.4vw;
        color: #738694;
    }

    .food-card{
        width: 40%;
    }

    .reviews-btn{
        display: flex;
        flex-direction: column;
    }

    .reviews-btn h4{
        display: inline-block;
        font-size: 35px;
        text-align: center;
        vertical-align: center;
        line-height: normal;

    }
}

@media (max-width: 682px) {
    .nav-bar-brand{
        width: 20%;
    }
    .cards-row{
        display: block;
    }

    .review-card{
        width: 100%;
    }
    .review-intro-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }


    .review-intro-container h2{
        font-size: 45px;
        color: red;
        text-align: center;
        margin: auto;
        width: 100%;
    }

    .review-intro-container *:last-child{
        margin-left: auto;
        margin-right: auto;
    }
    .page-title{
        width: 80%;
    }
}

@media (max-width: 442px) {
    .nav-bar-brand{
        width: 25%;
    }
    .container-intro {
        display: block;
        width: 90%;
    }

    .food-card-body h3 {
        font-size: 30px;
    }

    .food-card-body p {
        font-size: 14px;
    }

    .intro-text {
        width: 80%;
        margin: 0 auto;
    }

    .intro-text h3 {
        font-size: 35px;
        text-align: center;
    }

    .intro-image {
        width: 100%;
    }

    .toggles {
        width: 90%;
    }

    .btn-toggle {
        font-size: 22px;
    }

    .div-toggle-responsive {
        margin: auto 0;
        width: 15%;
    }

    .div-basket-md {
        display: flex;
        margin: auto 0;
        color: #fff;
        width: 15%;
    }

    .div-basket-responsive {
        display: flex;
        margin: auto 0;
        border-radius: 50%;
    }

    .basket-icon-adaptive {
        display: flex;
        margin: auto;
        border-radius: 50%;
    }

    .basket-icon-adaptive p {
        margin: auto;
        padding: 3px 11px 3px 11px;
        color: #fff;
    }

    .nav-dropdown-thead-left {
        display: flex;
        width: 48%;
        justify-content: space-between;
    }

    .nav-dropdown-thead-right {
        display: flex;
        width: 39%;
        justify-content: space-between;
    }

    .menu {
        width: 90%;
    }

    .menu-items {
        display: block;
    }

    .reviewList {
        width: 90%;
        margin: 0 auto;
    }

    .reviewList h4 {
        font-size: 33px;
        padding-right: 0;
    }

    .reviews-btn {
        display: flex;
        flex-direction: column;
    }

    .btn-all-reviews {
        margin-bottom: 10px;

    }

    .food-card {
        width: 90%;
        margin: 20px auto 10px auto;
    }

    .btn-radio span {
        font-size: 4.5vw;
    }

    .line {
        width: 90%;
    }

    .basket-product-card {
        padding: 8px !important;
    }

    .basket-product-card img {
        width: 40px;
    }

    .basket-product-image {
        margin-right: 5px;
    }

    .basket-product-name p {
        font-size: 14px;
    }

    .basket-product-name {
        display: block;
        margin: auto 5px;
        text-align: center;
        width: 20%;
    }

    .basket-product-price p {
        width: 20px;
        font-size: 14px;
    }

    .basket-product-remove {
        display: flex;
        justify-content: space-between;
        padding: 0px 5px;
        margin: auto;
        text-align: center;
    }

    .review-author-name p {
        font-size: 16px;
    }

    .date p {
        font-size: 12px;
    }

    .review-form-container {
        width: 100%;
    }

    .review-form-border {
        width: 90%;
    }

    .review-form-input-container {
        display: flex;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
    }

    .review-form-input {
        width: 100%;
    }

    .review-btn-send {
        padding: 6px 30px 6px 30px;

    }

    .page-title {
        width: 60%;
    }

    .progress-circle {
        width: 70px;
        height: 70px;
    }

    .checkout-container{
        width: 90%;
        flex-direction: column;
    }

    .data-form{
        width: 100%;
    }

    .check{
        width: 100%;
        margin-top: 30px;
    }

    .order-form-input-container {
        flex-direction: column;

    }
}